{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>welcome to tentbnb</h1>
                <p>urban luxury with a city-center view</p>
                <img src="/static/images/tent.jpg" width="640" height="480" alt="urban luxury">
            </div>
        </div>
    </div>
{{end}}